/* CONFIGURAÇÕES GERAIS */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    padding: 0;
    margin: 0;
}

/* CABEÇALHO */
header {
    background-color: #004aad;
    padding: 20px;
    text-align: center;
    color: white;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.titulo {
    margin: 5px 0 0;
    font-size: 22px;
}

/* CONTEÚDO */
.container {
    padding: 20px;
}

h3 {
    margin-bottom: 15px;
    color: #003366;
}

/* LISTA DE PEDIDOS */
.lista-pedidos {
    list-style: none;
    padding: 0;
}

.pedido {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border-left: 10px solid;
    font-size: 18px;
}

/* STATUS VISUAL */
.pendente {
    border-color: #d60000;
}

.pronto {
    border-color: #009736;
}

.status {
    font-weight: bold;
}

.pendente .status {
    color: #d60000;
}

.pronto .status {
    color: #009736;
}
